MYSQL_ROOT_PASSWORD=senha_super_secreta_root

# adicione ao fim da string de conexão o '?allowPublicKeyRetrieval=true'
MYSQL_DATABASE=veico
DB_HOST=db
DB_PORT=3306
MYSQL_USER=user
MYSQL_PASSWORD=senha_forte_user
